#countries {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.country {
  border: 2px solid tomato;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}
#country-details {
  border: 1px solid rgba(242, 242, 179, 0.96);
  border-radius: 8px;
  width: 200px;
  height: 200;
  background-color: beige;
  align-items: center;
}
